@font-face {
    font-family: "苹方";
    src: url("/pf.otf");
}

a {
    font-family: "苹方";
    color: rgb(0, 132, 255);
    text-decoration-line: none;
}

img {

    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 20%;
    margin-bottom: 60px;

}

h1 {
    font-family: "苹方";
    font-size: 5cqmax;
    margin: 10px;
    padding: 20px;
}

h2 {
    font-family: "苹方";
    font-size: 2cqmax;
    margin: 5px;
    padding: 10px;
}

h3 {
    font-family: "苹方";
    font-size: 1.2cqmax;
    margin: 5px;
    padding: 10px;
}

h5 {
    font-family: "苹方";
    color: rgb(115, 115, 115);
    font-size: 2vmin;
}
button {

    width: auto;
    height: auto;
    border-radius: 3cqmax;
    padding: 1.3cqmax;
    transition: all 0.4s;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.66);

}
